<%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
        <%- include('../partials/nav'); %>



            <!--========== CONTENTS ==========-->
            <main>
                <section>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt excepturi ducimus minima tempora maxime similique molestiae ea consequatur mollitia iste! Dolore maxime eaque odit asperiores suscipit, ipsa at veritatis eveniet.
                    A perspiciatis officiis incidunt veniam officia quasi, qui eum ducimus asperiores tenetur magni non cumque sed provident blanditiis ratione esse doloribus dolores sunt enim inventore in! Similique totam rerum provident!
                    Deleniti optio ea amet incidunt soluta quidem, nisi, a eligendi, commodi aperiam laboriosam. Iure, maxime excepturi ipsa eligendi ut molestias, non nam quas consectetur incidunt doloribus veritatis tempora aperiam illum.
                    Placeat possimus adipisci id praesentium expedita magni beatae repudiandae nam fuga rerum illum ut laboriosam cumque, numquam eligendi libero exercitationem sit doloremque maiores quibusdam! Quo, repellat. Temporibus neque repellat laboriosam?
                    Omnis error sapiente et itaque expedita! Quasi dolores debitis dolorem error, officia in? Consequuntur minima ducimus praesentium sapiente excepturi nihil aut nostrum. Nulla excepturi id incidunt omnis minima veniam quas.</p>
                </section>
            </main>

            <!--========== MAIN JS ==========-->
            <%- include('../partials/footer'); %>